*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(17, 16, 16);
}
.header{
    display: flex;
    justify-content: space-around;
    padding: 20px 10px;
}

li{
    list-style: none;

}

a{
    color: white;
    text-decoration: none;
}
.nav-bar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-branding{
    font-size: 2rem;
}
.nav-link{
    transition: 0.7s ease;
}
.nav-link:hover{
    color: blue;
}

.space{
    display: none;
}
.bar{
    display: block;
    width: 45px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    background-color: white;
}

.hero{
    background-color: aliceblue;
    padding: 150px 140px;
}

.hero p,h3{
    text-align: center;
    padding: 5px;
    margin: 3px;
}
@media(max-width:768px){
    .space{
        display:block;
    }

    .space.active .bar:nth-child(2){
        opacity:0;
    }
    .space.active .bar:nth-child(1){
        transform: translate(-5px) rotate(45deg);
    }
    .space.active .bar:nth-child(3){
        transform: translate(-15px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        flex-direction: column;
        transition: 0.3s;
        text-align: center;
        width: 100%;
        background-color: rgb(0, 255, 34);
        gap: 0;
    }

    .nav-item{
        margin: 16px 0;
    }
    .nav-menu.active{
        left: 0;
    }
}